@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Primary Colors */
--color--White: hsl(0, 100%, 100%);
--color--Purple--100: hsl(275, 100%, 97%);
--color--Purple--600: hsl(292, 16%, 49%);
--color--Purple--950: hsl(292, 42%, 14%);

--font-size: 16px;
--font-family: 'Work Sans', sans-serif;

--font-weight--normal: 400;
--font-weight--semibold: 600;
--font-weight--bold: 700;


font-size: var(--font-size);
font-family: var(--font-family);
font-weight: var(--font-weight--normal);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--color--Purple--100);
    background-position: top center;
}

main{
    width: 600px;
    max-width: 600px;
    padding: 2rem;
    margin-inline:  auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    background-color: var(--color--White);
    border-radius: 12px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

h1{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: var(--font-weight--bold);
    color: var(--color--Purple--950);
    font-size: 2rem;
    font-weight: var(--font-weight--bold);
}

h1 img{
    width: 1.5rem;
    height: 1.5rem
}

.accordion{
    margin-top: 1.5rem;
}

.accordion_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    gap: 4px;
    font-weight: var(--font-weight--bold);
    color: var(--color--Purple--950);
    text-align: left;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color--Purple--100);
}

.accordion_btn:hover{
    color:#ac29ec;
}

.accordion_btn img{
    width: 1.75rem;
    height: 1.75rem;
    transition: transform 0.3s ease-in-out;
}

.accordion_btn img.rotate{
    transform: rotate(180deg);
}
.accordion p{
    display: none;  
    margin-top: 1.5rem;
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    font-weight: var(--font-weight--normal);
    color: var(--color--Purple--600);
    text-align: left;
    line-height: 1.5;
}

.accordion p.active{
    display: block;
}

.accordion:last-child{
    border-bottom: none;

}

@media screen and (max-width: 601px) {
    body{
        padding-inline: 2rem;
    }
    
   main{
    display: flex;
    text-align: left;
    width: 100%;
   }
}

@media screen and (max-width:376px) {
    body{
        background-image: url(./assets/images/background-pattern-mobile.svg);
        padding-inline: 2rem;
    }

}

.attribution{
    margin-top: 4rem;
    
}